.Login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    width: 100px;
    height: 50px;
    background-color: rgb(0, 89, 214);
    color: white;
    font-size: 24px;
}

img {
    height: 200px;
    margin-right: 30px;
    margin-left: 30px;
}